@model string
@{ 
    var url = $"/Oauth/Authorization{Model}";
}
<form action="@url" method="post">
    <input type="text" name="userName" value="" />
    <input type="submit" value="submt" />
</form>